# OS Stuff
.DS_Store
.eslintcache
.directory
Thumbs.db

# Built Files
*.a
*.d
*.o
*.lo
*.obj
*.res
*.stamp

# Build output dir
/out/

# Executables built by make
/libraspimon.so
/raspimon
/raspimon-gui

# Kept for reference source code
/reference
